@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans:wght@300..700&display=swap');/* General styles */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; 
}

body {
  background-color: #FFF8F8;
}

h1 {
  font-family: 'Pontano Sans', sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Pontano Sans', sans-serif;
  font-weight: 400;
} 

h3 {
  font-family: 'Pontano Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 0px;
}

p {
  font-family: 'Pontano Sans', sans-serif;
}

a.link {
  color: #E04C65;
  text-decoration: none !important;
  cursor: pointer;
  
}

a.link:hover {
  color: #e43855;
  transition: ease-in-out 0.5s;
}

a {
  text-decoration: none !important;
}

.moving_background {
  position: fixed; /* or absolute, depending on your layout needs */
  top: 0;
  left: 0;
  width: 5%;
  height: 100%;
  background-image: url('../images/left-background.svg'); /* Example gradient */
  background-size: 100% 400%; /* Ensure the background is larger than the container */
  animation: animateBackground 60s linear infinite; /* Apply the animation */
  z-index: -1; /* Place the background behind other content */
}

.moving_background_right {
  position: fixed; /* or absolute, depending on your layout needs */
  top: 0;
  right: 0;
  width: 5%;
  height: 100%;
  background-image: url('../images/right-background.svg'); /* Example gradient */
  background-size: 100% 400%; /* Ensure the background is larger than the container */
  animation: animateBackground 60s linear infinite; /* Apply the animation */
  z-index: -1; /* Place the background behind other content */
}

@keyframes animateBackground {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.leftNav {
  float: left;
  margin-left: 1%;
}

.rightNav {
  float: left;
  position: fixed; 
  top: 2%;
  right: 1.5%;
}

.navbar {
  position: fixed; 
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 10%;
  background-color: #FFEEEE;
  align-items: center;
  padding: 10px;
  z-index: 1000;
}

.navText {
  color: black;
}

.logo {
  margin-right: 15px;
  max-width: 60px;
  height: auto;
  transition: all .2s ease-in-out; 
}

.logo:hover {
  transform: scale(1.1); 
}

.footer {
  /* position: fixed; 
  bottom: 0;
  left: 0; */
  width: 100%;
  height: 8%;
  background-color: #F7D9DE;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.section {
  width: 100%;
  margin-top: 120px;
  margin-bottom: 45px;
  min-height: 500px;
  background: none;
  align-items: center;
}

.sectionContainer{
  width: 60%;
  margin: auto;
  background-color: #FFEEEE;
  display: flex;
  flex-direction: column;
  position: relative;
}

.headerText {
  padding: 35px;
}

.heroHeader_footer {
  width: 100%;
  background-color: #F7D9DE;
  height: 25%;
  display: flex;
  padding: 35px;
  justify-content: space-between;
}

.avatarImg {
  position: absolute !important;
  top: 22%;
  right: 5%;
  border-radius: 50%;
  width: 25%;
  height: auto;
}

.headerImg {
  display: block;
  max-height: 300px;
}

.heroHeader_dropdown {
  width: 55%;
  height: 70px;
  display: flex;
  gap: 10px;
}

.heroHeader_links {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
}

.containerHeader {
  padding-left: 20px;
}

.containerText {
  padding: 20px;
  background-color: #F7D9DE;
  
  p {
    max-width: 100%;
  }
}

.aboutImg {
  width: 100%;
  height: 400px;
}

.skill_section_tags {
  display: flex;
  flex-wrap: wrap;
}

.experienceSection {
  display: flex;
  background-color: #F7D9DE;
  margin-bottom: 20px;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
  font-family: 'Pontano Sans', sans-serif;
  color: black;
  text-decoration: none !important;
  font-weight: 300;
}

.experienceSection::before {
  transform: translate3d(0, 0.75em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.experienceSection:hover {
  cursor:pointer;
  transform: translate(0, 0.375em);
}

.experienceSection:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

.experienceSection:active::before {
  transform: translate3d(0, 0, -1em);
}

.experienceSection_tags {
  display: flex;
  flex-wrap: wrap;
}

.experienceSection_tags_item {
  margin: 10px 10px 10px 0px;
  padding: 5px 15px 5px 15px;
  background-color: #FFFAFA;
}

.experienceSection_right {
  padding: 20px;
}

.twoColumnSection {
  width: 60%;
  margin: auto;
  position: relative;
  justify-content: space-between;
  display: flex;
  gap: 10%;
  align-items: flex-start;
}

@media (max-width: 900px) { /* Adjust breakpoint as needed */
  .twoColumnSection {
      flex-direction: column; 
      align-items: center; 
  }
  .sectionContainer {
    margin-top: 20px;
  }

  .designContainer {
    margin-top: 20px;
  }

  .modalImage {
    margin-top: 40% !important;
  }

  .projectContainer {
    margin-top: 30px;
  }
}

.columnImg {
  height: 325px;
}

.viewMore {
  float: right;
  margin-bottom: 0px;
  line-height: 0px;
  font-weight: 600;
  padding-bottom: 20px;
}

.viewMore::after {
  content: '';
  position: absolute;
  width: 30%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 70%;
  background-color: #e43855;
  transition: transform 0.25s ease-out;
}

.viewMore:hover::after {
  transform: scaleX(1);
}

.viewMore::after {
  transform-origin: bottom right;
}

.viewMore:hover::after {
  transform-origin: bottom left;
}

.link_button {
  max-width: 15px;
  height: auto;
  margin-left: 5px;
  margin-top: 3px;
}

.experienceSection_desc {
  align-items: center;
}

.pageHeader {
  margin: 10% 5% 5% 20%;
  width: 60%;
  height: 75px;
  background-color: #FFEEEE;
  padding: 20px;
}

.designImg {
  width: fit-content;
  height: fit-content;
  transition: all .2s ease-in-out; 
}

.designImg:hover {
  transform: scale(1.01); 
  cursor: zoom-in;
}

.projectImg {
  width: fit-content;
  height: fit-content;

}

.designText {
  padding: 20px;
  background-color: #F7D9DE;

  p {
    margin-bottom: 2px;
  }
}

.designContainer{
  width: 60%;
  background-color: #FFEEEE;
  display: flex;
  flex-direction: column;
  position: relative;
}

.projectContainer{
  width: 60%;
  background-color: #FFEEEE;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all .2s ease-in-out; 
}

.projectContainer:hover {
  transform: scale(1.01); 
  cursor: pointer;
}

.navButton {
  background-color: #FFFAFA;
  font-family: 'Pontano Sans', sans-serif;
  border: none;
  padding: 5px 20px 5px 20px;
  font-size: 18px;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.navButton::before {
  transform: translate3d(0, 0.75em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.navButton:hover {
  cursor:pointer;
  transform: translate(0, 0.375em);
}

.navButton:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

.navButton:active::before {
  transform: translate3d(0, 0, -1em);
}

.nav {
  display: flex;
}

.project_tags {
  display: flex;
  flex-wrap: wrap;
}

.project_tags_item {
  margin: 10px 10px 10px 0px;
  padding: 5px 15px 5px 15px;
  background-color: #FFFAFA;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.project_tags_item::before {
  transform: translate3d(0, 0.75em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.project_tags_item:hover {
  cursor: default;
  transform: translate(0, 0.375em);
}

.project_tags_item:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

.project_tags_item:active::before {
  transform: translate3d(0, 0, -1em);
}

.imageModal {
  background: #000000b5;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  cursor: zoom-out;
}

.imageModalContainerSquare {
  margin: auto;
  text-align: center;
  font-family: 'Pontano Sans', sans-serif;
  color: #FFFAFA;
  max-width: 40%;
}

.imageModalContainerRect {
  margin: auto;
  text-align: center;
  font-family: 'Pontano Sans', sans-serif;
  color: #FFFAFA;
  max-width: 60%;
}


.modalImage {
  margin-top: 3%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 16px; /* Space between items */
  padding: 20px;
  width: 63%;
  margin: auto;
}

.gallery-item {
  color: white;
  padding: 20px;
  text-align: center;
}